<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>domain</key>
	<string>http://review.360tianma.com</string>
	<key>siteCode</key>
	<string>00000000000000000000000000000000</string>
	<key>appIdentifier</key>
	<string>com.sobey.tmtest</string>
	<key>appPackageName</key>
	<string>com.sobey.tmgc</string>
	<key>appDisplayName</key>
	<string>仿新浪</string>
	<key>appProductName</key>
	<string>fangxinlang</string>
	<key>appVersion</key>
	<string>1.0</string>
	<key>appBuildVersion</key>
	<string>1</string>
	<key>icon</key>
	<dict>
		<key>40</key>
		<string>40px.png</string>
		<key>60</key>
		<string>60px.png</string>
	</dict>
	<key>launch</key>
	<dict>
		<key>hdpi</key>
		<string>960x540.png</string>
		<key>xhdpi</key>
		<string>1280x720.png</string>
		<key>xxhdpi</key>
		<string>1920x1280.png</string>
	</dict>
	<key>features</key>
	<array>
		<dict>
			<key>name</key>
			<string>tm_navigation_config</string>
			<key>description</key>
			<string>导航组件，根据文件名称获取配置数据</string>
			<key>configFile</key>
			<string>ReviewComponentsIos.geojson</string>
		</dict>
		<dict>
			<key>name</key>
			<string>tm_jpush</string>
			<key>description</key>
			<string>jpush推送平台key，框架内使用</string>
			<key>appkey</key>
			<string>bac58f0338995e8ccc755ba0</string>
			<key>channel</key>
			<string>Offline</string>
		</dict>
		<dict>
			<key>name</key>
			<string>tm_Share</string>
			<key>QQ</key>
			<dict>
				<key>AppId</key>
				<string>1107399735</string>
				<key>AppKey</key>
				<string>bsdrblSkPxwLSD4w</string>
			</dict>
			<key>Wechat</key>
			<dict>
				<key>AppId</key>
				<string>wxf5434529e3d5f55c</string>
				<key>AppSecret</key>
				<string>ec8f016cb6b72c7414226c045d3a1af0</string>
				<key>Path</key>
				<string>http://39.107.76.66</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
